*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: fit-content;
}

input {
    padding: 10px;
    width: 100%;
    border: 1px solid #d5d3d3;
    border-radius: 5px;
    margin: 12px 0;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 8px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.greet{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: scaleY(0);
    width: 100%;
    height: fit-content;
    margin-top: 5px;
    gap: 5px;
}

.greeting {
    display: none;
    height: fit-content;
    font-size: 24px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.show {
    display: flex;
    opacity: 1;
    transform: translateY(0);
    transition: display 0.5s ease, transform 0.5s ease;
}

.error {
    color: red;
    margin-top: 10px;
}